app:
  urls:
    course:
      base: course



server:
  port: 8081

spring:
  application:
    name: course
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      jdbc:
        lob.non-contextual-creation: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        jdbc:
          time_zone: UTC
  spring:
    messages:
      basename: messages
  docker:
    compose:
      file: course/docker-compose.yaml